.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.header h1 {
  font-size: 4rem;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--color-white);
  position: relative;
  padding-bottom: 2rem;
  align-self: center
}

#inner {
  width: 50%;
  text-align: center;
}

.mainText {
  padding-top: 30px;
  font-size: 32px;
  font-weight: 800;
}

.subtitleText {
  font-size: 28px;
  font-weight: 100;
}

.header h1 span {
  display: block;
}

.releaseText {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  color: #bbb;
}

.scrolldownText {
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  vertical-align: bottom;
}

.header h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: var(--color-white);
}

.headerLeft p {
  margin: 3rem 0;
  color: var(--color-white);
  width: 70%;
}

.headerRight img {
  width: 90%;
}

.headerCta {
  flex-direction: row;
  flex: 1;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.headerDownloadButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerDownloadButtons a {
  margin-left: 5px;
  margin-right: 5px;
}

.headerArrow {
  margin-top: 40px;
}

.floatingIcon {
  background-color: var(--light-blue);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  cursor: pointer;
}

.floatingIcon a {
  border: 1px solid #fff;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mouse {
  transform: translateY(-25%);
  animation: bounce 0.8s ease infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(25%);
  }
}

@media screen and (max-width: 769px) {
  .header h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .headerLeft,
  .headerRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .headerLeft {
    margin-bottom: 4rem;
  }
  .headerRight img {
  width: 80%;
  }
  
  .aligningContentsCenter {
  align-items: center;
  text-align: center;
  }
  }