.title {
  text-align: center;
  margin-bottom: 4rem;
}

.title h2 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--dark-text);
  margin: 1.5rem 0;
}

.title p {
  width: 50%;
  min-width: 40rem;
  margin: 0 auto;
  color: var(--dark-text);
}

.featuresContent {
  display: flex;
  justify-content: center;
  padding-top: 6rem;
}

.featuresBackground {
  background: black
}

/* 
.container_features2 {
  display: flex;
  justify-content: center;
  padding-top: 100 px;
} */


.featuresLeft1 {
  flex: 1;
  text-align: center;
  
}
.featuresLeft1 img {
  width: 100%;
  padding: 20px;
}
.featuresRight1 {
  flex: 1;
  margin: auto;
}

.featuresLeft2 {
  flex: 1;
  text-align: left;
  margin: auto;
}
.featuresRight2 {
  text-align: center;
  flex: 1;
}
.featuresRight2 img {
  width: 100%;
  padding: 20px;
}


@media screen and (max-width: 600px) {
  .featuresContent {
    flex-direction: column;
  }
}
