section#footer {
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  row-gap: 2rem;
  column-gap: 2rem;
}

.footer h4 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.footerBox .footerLinks a {
  font-size: 1.2rem;
  margin: auto;
  text-align: right;
}

.footerLinks {
  display: flex;
  flex-direction: row;
}

.footerContact p {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.footer a {
  font-size: 1.2rem;
}